/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*  ============================================================================= 
	Font-Awesome Include ============================================================================= */
@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=3.0.1"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0 0; background-repeat: repeat; margin-top: 0; }

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: none; }

[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; speak: none; }

a [class^="icon-"], a [class*=" icon-"] { display: inline-block; }

.icon-large:before { vertical-align: -10%; font-size: 1.3333333333333333em; }

.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] { display: inline; }

.btn [class^="icon-"].icon-large, .nav [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class*=" icon-"].icon-large { line-height: .9em; }

.btn [class^="icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class*=" icon-"].icon-spin { display: inline-block; }

.nav-tabs [class^="icon-"], .nav-pills [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class*=" icon-"], .nav-tabs [class^="icon-"].icon-large, .nav-pills [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large { line-height: .9em; }

li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }

li [class^="icon-"].icon-large, .nav li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large, .nav li [class*=" icon-"].icon-large { width: 1.5625em; }

ul.icons { list-style-type: none; text-indent: -0.75em; }

ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width: .75em; }

.icon-muted { color: #eee; }

.icon-border { border: solid 1px #eee; padding: .2em .25em .15em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.icon-2x { font-size: 2em; }

.icon-2x.icon-border { border-width: 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.icon-3x { font-size: 3em; }

.icon-3x.icon-border { border-width: 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.icon-4x { font-size: 4em; }

.icon-4x.icon-border { border-width: 4px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.pull-right { float: right; }

.pull-left { float: left; }

[class^="icon-"].pull-left, [class*=" icon-"].pull-left { margin-right: .3em; }

[class^="icon-"].pull-right, [class*=" icon-"].pull-right { margin-left: .3em; }

.btn [class^="icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x { margin-top: .18em; }

.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large { line-height: .8em; }

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x { margin-top: .25em; }

.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] { margin-top: 0; }

.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-top: .05em; }

.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x { margin-right: .2em; }

.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-left: .2em; }

.icon-spin { display: inline-block; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }

@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

@-moz-document url-prefix() { .icon-spin { height: .9em; }
  .btn .icon-spin { height: auto; }
  .icon-spin.icon-large { height: 1.25em; }
  .btn .icon-spin.icon-large { height: .75em; } }

.icon-glass:before { content: "\f000"; }

.icon-music:before { content: "\f001"; }

.icon-search:before { content: "\f002"; }

.icon-envelope:before { content: "\f003"; }

.icon-heart:before { content: "\f004"; }

.icon-star:before { content: "\f005"; }

.icon-star-empty:before { content: "\f006"; }

.icon-user:before { content: "\f007"; }

.icon-film:before { content: "\f008"; }

.icon-th-large:before { content: "\f009"; }

.icon-th:before { content: "\f00a"; }

.icon-th-list:before { content: "\f00b"; }

.icon-ok:before { content: "\f00c"; }

.icon-remove:before { content: "\f00d"; }

.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }

.icon-off:before { content: "\f011"; }

.icon-signal:before { content: "\f012"; }

.icon-cog:before { content: "\f013"; }

.icon-trash:before { content: "\f014"; }

.icon-home:before { content: "\f015"; }

.icon-file:before { content: "\f016"; }

.icon-time:before { content: "\f017"; }

.icon-road:before { content: "\f018"; }

.icon-download-alt:before { content: "\f019"; }

.icon-download:before { content: "\f01a"; }

.icon-upload:before { content: "\f01b"; }

.icon-inbox:before { content: "\f01c"; }

.icon-play-circle:before { content: "\f01d"; }

.icon-repeat:before { content: "\f01e"; }

.icon-refresh:before { content: "\f021"; }

.icon-list-alt:before { content: "\f022"; }

.icon-lock:before { content: "\f023"; }

.icon-flag:before { content: "\f024"; }

.icon-headphones:before { content: "\f025"; }

.icon-volume-off:before { content: "\f026"; }

.icon-volume-down:before { content: "\f027"; }

.icon-volume-up:before { content: "\f028"; }

.icon-qrcode:before { content: "\f029"; }

.icon-barcode:before { content: "\f02a"; }

.icon-tag:before { content: "\f02b"; }

.icon-tags:before { content: "\f02c"; }

.icon-book:before { content: "\f02d"; }

.icon-bookmark:before { content: "\f02e"; }

.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }

.icon-font:before { content: "\f031"; }

.icon-bold:before { content: "\f032"; }

.icon-italic:before { content: "\f033"; }

.icon-text-height:before { content: "\f034"; }

.icon-text-width:before { content: "\f035"; }

.icon-align-left:before { content: "\f036"; }

.icon-align-center:before { content: "\f037"; }

.icon-align-right:before { content: "\f038"; }

.icon-align-justify:before { content: "\f039"; }

.icon-list:before { content: "\f03a"; }

.icon-indent-left:before { content: "\f03b"; }

.icon-indent-right:before { content: "\f03c"; }

.icon-facetime-video:before { content: "\f03d"; }

.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }

.icon-map-marker:before { content: "\f041"; }

.icon-adjust:before { content: "\f042"; }

.icon-tint:before { content: "\f043"; }

.icon-edit:before { content: "\f044"; }

.icon-share:before { content: "\f045"; }

.icon-check:before { content: "\f046"; }

.icon-move:before { content: "\f047"; }

.icon-step-backward:before { content: "\f048"; }

.icon-fast-backward:before { content: "\f049"; }

.icon-backward:before { content: "\f04a"; }

.icon-play:before { content: "\f04b"; }

.icon-pause:before { content: "\f04c"; }

.icon-stop:before { content: "\f04d"; }

.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }

.icon-step-forward:before { content: "\f051"; }

.icon-eject:before { content: "\f052"; }

.icon-chevron-left:before { content: "\f053"; }

.icon-chevron-right:before { content: "\f054"; }

.icon-plus-sign:before { content: "\f055"; }

.icon-minus-sign:before { content: "\f056"; }

.icon-remove-sign:before { content: "\f057"; }

.icon-ok-sign:before { content: "\f058"; }

.icon-question-sign:before { content: "\f059"; }

.icon-info-sign:before { content: "\f05a"; }

.icon-screenshot:before { content: "\f05b"; }

.icon-remove-circle:before { content: "\f05c"; }

.icon-ok-circle:before { content: "\f05d"; }

.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }

.icon-arrow-right:before { content: "\f061"; }

.icon-arrow-up:before { content: "\f062"; }

.icon-arrow-down:before { content: "\f063"; }

.icon-share-alt:before { content: "\f064"; }

.icon-resize-full:before { content: "\f065"; }

.icon-resize-small:before { content: "\f066"; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-asterisk:before { content: "\f069"; }

.icon-exclamation-sign:before { content: "\f06a"; }

.icon-gift:before { content: "\f06b"; }

.icon-leaf:before { content: "\f06c"; }

.icon-fire:before { content: "\f06d"; }

.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }

.icon-warning-sign:before { content: "\f071"; }

.icon-plane:before { content: "\f072"; }

.icon-calendar:before { content: "\f073"; }

.icon-random:before { content: "\f074"; }

.icon-comment:before { content: "\f075"; }

.icon-magnet:before { content: "\f076"; }

.icon-chevron-up:before { content: "\f077"; }

.icon-chevron-down:before { content: "\f078"; }

.icon-retweet:before { content: "\f079"; }

.icon-shopping-cart:before { content: "\f07a"; }

.icon-folder-close:before { content: "\f07b"; }

.icon-folder-open:before { content: "\f07c"; }

.icon-resize-vertical:before { content: "\f07d"; }

.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }

.icon-twitter-sign:before { content: "\f081"; }

.icon-facebook-sign:before { content: "\f082"; }

.icon-camera-retro:before { content: "\f083"; }

.icon-key:before { content: "\f084"; }

.icon-cogs:before { content: "\f085"; }

.icon-comments:before { content: "\f086"; }

.icon-thumbs-up:before { content: "\f087"; }

.icon-thumbs-down:before { content: "\f088"; }

.icon-star-half:before { content: "\f089"; }

.icon-heart-empty:before { content: "\f08a"; }

.icon-signout:before { content: "\f08b"; }

.icon-linkedin-sign:before { content: "\f08c"; }

.icon-pushpin:before { content: "\f08d"; }

.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }

.icon-trophy:before { content: "\f091"; }

.icon-github-sign:before { content: "\f092"; }

.icon-upload-alt:before { content: "\f093"; }

.icon-lemon:before { content: "\f094"; }

.icon-phone:before { content: "\f095"; }

.icon-check-empty:before { content: "\f096"; }

.icon-bookmark-empty:before { content: "\f097"; }

.icon-phone-sign:before { content: "\f098"; }

.icon-twitter:before { content: "\f099"; }

.icon-facebook:before { content: "\f09a"; }

.icon-github:before { content: "\f09b"; }

.icon-unlock:before { content: "\f09c"; }

.icon-credit-card:before { content: "\f09d"; }

.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }

.icon-bullhorn:before { content: "\f0a1"; }

.icon-bell:before { content: "\f0a2"; }

.icon-certificate:before { content: "\f0a3"; }

.icon-hand-right:before { content: "\f0a4"; }

.icon-hand-left:before { content: "\f0a5"; }

.icon-hand-up:before { content: "\f0a6"; }

.icon-hand-down:before { content: "\f0a7"; }

.icon-circle-arrow-left:before { content: "\f0a8"; }

.icon-circle-arrow-right:before { content: "\f0a9"; }

.icon-circle-arrow-up:before { content: "\f0aa"; }

.icon-circle-arrow-down:before { content: "\f0ab"; }

.icon-globe:before { content: "\f0ac"; }

.icon-wrench:before { content: "\f0ad"; }

.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }

.icon-briefcase:before { content: "\f0b1"; }

.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }

.icon-link:before { content: "\f0c1"; }

.icon-cloud:before { content: "\f0c2"; }

.icon-beaker:before { content: "\f0c3"; }

.icon-cut:before { content: "\f0c4"; }

.icon-copy:before { content: "\f0c5"; }

.icon-paper-clip:before { content: "\f0c6"; }

.icon-save:before { content: "\f0c7"; }

.icon-sign-blank:before { content: "\f0c8"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-list-ul:before { content: "\f0ca"; }

.icon-list-ol:before { content: "\f0cb"; }

.icon-strikethrough:before { content: "\f0cc"; }

.icon-underline:before { content: "\f0cd"; }

.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }

.icon-truck:before { content: "\f0d1"; }

.icon-pinterest:before { content: "\f0d2"; }

.icon-pinterest-sign:before { content: "\f0d3"; }

.icon-google-plus-sign:before { content: "\f0d4"; }

.icon-google-plus:before { content: "\f0d5"; }

.icon-money:before { content: "\f0d6"; }

.icon-caret-down:before { content: "\f0d7"; }

.icon-caret-up:before { content: "\f0d8"; }

.icon-caret-left:before { content: "\f0d9"; }

.icon-caret-right:before { content: "\f0da"; }

.icon-columns:before { content: "\f0db"; }

.icon-sort:before { content: "\f0dc"; }

.icon-sort-down:before { content: "\f0dd"; }

.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }

.icon-linkedin:before { content: "\f0e1"; }

.icon-undo:before { content: "\f0e2"; }

.icon-legal:before { content: "\f0e3"; }

.icon-dashboard:before { content: "\f0e4"; }

.icon-comment-alt:before { content: "\f0e5"; }

.icon-comments-alt:before { content: "\f0e6"; }

.icon-bolt:before { content: "\f0e7"; }

.icon-sitemap:before { content: "\f0e8"; }

.icon-umbrella:before { content: "\f0e9"; }

.icon-paste:before { content: "\f0ea"; }

.icon-lightbulb:before { content: "\f0eb"; }

.icon-exchange:before { content: "\f0ec"; }

.icon-cloud-download:before { content: "\f0ed"; }

.icon-cloud-upload:before { content: "\f0ee"; }

.icon-user-md:before { content: "\f0f0"; }

.icon-stethoscope:before { content: "\f0f1"; }

.icon-suitcase:before { content: "\f0f2"; }

.icon-bell-alt:before { content: "\f0f3"; }

.icon-coffee:before { content: "\f0f4"; }

.icon-food:before { content: "\f0f5"; }

.icon-file-alt:before { content: "\f0f6"; }

.icon-building:before { content: "\f0f7"; }

.icon-hospital:before { content: "\f0f8"; }

.icon-ambulance:before { content: "\f0f9"; }

.icon-medkit:before { content: "\f0fa"; }

.icon-fighter-jet:before { content: "\f0fb"; }

.icon-beer:before { content: "\f0fc"; }

.icon-h-sign:before { content: "\f0fd"; }

.icon-plus-sign-alt:before { content: "\f0fe"; }

.icon-double-angle-left:before { content: "\f100"; }

.icon-double-angle-right:before { content: "\f101"; }

.icon-double-angle-up:before { content: "\f102"; }

.icon-double-angle-down:before { content: "\f103"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-angle-up:before { content: "\f106"; }

.icon-angle-down:before { content: "\f107"; }

.icon-desktop:before { content: "\f108"; }

.icon-laptop:before { content: "\f109"; }

.icon-tablet:before { content: "\f10a"; }

.icon-mobile-phone:before { content: "\f10b"; }

.icon-circle-blank:before { content: "\f10c"; }

.icon-quote-left:before { content: "\f10d"; }

.icon-quote-right:before { content: "\f10e"; }

.icon-spinner:before { content: "\f110"; }

.icon-circle:before { content: "\f111"; }

.icon-reply:before { content: "\f112"; }

.icon-github-alt:before { content: "\f113"; }

.icon-folder-close-alt:before { content: "\f114"; }

.icon-folder-open-alt:before { content: "\f115"; }

/*  ============================================================================= 
	Variables ============================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*  ============================================================================= 
	Main Styles for White's Wedding ============================================================================= */
body { background-color: #fefefe; font-family: verdana; font-family: "New Clarendon MT W01"; font-size: 18px; }

header { background: url(../images/middle-divider.png) no-repeat 50% 5px; background-size: 90% 25px; margin: 20px 0 40px; }
@media (max-width: 1000px) { header { background-size: 98% 25px; } }
header .header-inner { padding: 5px 0; *zoom: 1; max-width: 68em; margin-left: auto; margin-right: auto; margin-top: 15px; background-color: #fefefe; max-width: 25.5em; }
header .header-inner:before, header .header-inner:after { content: " "; display: table; }
header .header-inner:after { clear: both; }
header .header-inner .nav { width: 100%; margin: 0 auto; font-family: "Century Gothic W01 Bold"; }
header .header-inner .nav li { list-style: none; float: left; margin-left: 1em; font-size: 1.1em; line-height: 1.2em; }
header .header-inner .nav li.active a { border-bottom: 5px solid #838697; padding-bottom: .1em; }
@media (max-width: 740px) { header .header-inner .nav li { margin-left: 0.7em; margin-top: 0.3em; } }
header .header-inner .nav a { color: #000; text-decoration: none; text-transform: uppercase; }
@media (max-width: 1000px) { header .header-inner .nav a { font-size: 0.82em; } }
@media (max-width: 740px) { header .header-inner .nav a { font-size: 0.8em; } }

section#image_holder img { width: 100%; }

#content { *zoom: 1; max-width: 68em; margin-left: auto; margin-right: auto; }
#content:before, #content:after { content: " "; display: table; }
#content:after { clear: both; }
#content .left { float: left; display: block; float: left; margin-right: 2.35765%; width: 40.29137%; margin-left: 5.97086%; }
#content .left:last-child { margin-right: 0; }
#content .right { float: left; display: block; float: left; margin-right: 2.35765%; width: 40.29137%; margin-left: 4.2649%; }
#content .right:last-child { margin-right: 0; }
#content h2 { font-size: 1.7em; font-family: "Century Gothic W01 Bold"; line-height: 1.9em; text-align: center; }
#content p { font-size: 1em; line-height: 1.7em; margin-top: 0.6em; }
#content .our-story h2 { font-size: 1.5em; font-family: "Century Gothic W01 Bold"; line-height: 2.6em; }
#content .our-story img { width: 100%; margin-top: 30px; margin-bottom: 30px; }
@media (max-width: 700px) { #content .our-story { width: 95%; margin-left: 2.5%; } }
#content .desc { margin-top: 1.2em; }
#content.proposal { margin-bottom: 2em; }
#content.proposal p { display: block; float: left; margin-right: 2.35765%; width: 65.88078%; margin-left: 17.05961%; }
#content.proposal p:last-child { margin-right: 0; }
@media (max-width: 700px) { #content.proposal p { width: 95%; margin-left: 2.5%; } }
#content.proposal h1 { font-size: 2em; text-align: center; font-family: "Century Gothic W01 Bold"; padding: 5px 0; }
@media (max-width: 700px) { #content.proposal { width: 95%; margin-left: 2.5%; } }
#content.home p { display: block; float: left; margin-right: 2.35765%; width: 82.94039%; margin-left: 8.5298%; margin-bottom: 2rem; }
#content.home p:last-child { margin-right: 0; }
#content.home .countdown { clear: both; display: block; float: left; margin-right: 2.35765%; width: 48.82117%; margin-left: 25.58941%; color: #838697; margin-top: 2.5em; margin-bottom: 2.5em; border: 3px solid #838697; padding: 1em; }
#content.home .countdown:last-child { margin-right: 0; }
@media (max-width: 750px) { #content.home .countdown { width: 95%; margin-left: 2.5%; } }
#content.home .countdown .countdown_section { font-family: "New Clarendon MT W01"; float: left; display: block; float: left; margin-right: 2.35765%; width: 18.96686%; }
#content.home .countdown .countdown_section:last-child { margin-right: 0; }
#content.home .countdown .countdown_section:first-child { margin-left: 10%; }
#content.home .countdown .countdown_section .countdown_amount { font-family: "Century Gothic W01 Bold"; font-size: 1.5em; }
#content.home #slides { width: 90%; margin: 0 auto; display: none; margin-bottom: 3em; margin-top: 1em; }
#content.home #slides .slidesjs-container { width: 100%; }
#content.home #slides .slidesjs-container .slidesjs-control { width: 100%; }
#content.home #slides .slidesjs-container .slidesjs-control .portrait { width: 45% !important; left: 27.5% !important; position: relative !important; }
#content.home #slides .slidesjs-pagination { float: right; }
#content.home #slides .slidesjs-pagination li { float: left; }
#content.home #slides .slidesjs-pagination li a { text-indent: -9999px; background-color: #e4e4e4; width: 23px; height: 23px; margin: 10px 10px 0 0; float: left; border-radius: 3px; text-indent: -9999px; display: block; }
#content.home #slides .slidesjs-pagination li a.active { background-color: #838697; }
#content.home #slides a.slidesjs-navigation { text-decoration: none; color: #838697; margin-top: 5px; width: 30px; float: left; display: block; }
#content.home #slides a.slidesjs-navigation:hover { color: #666; }
#content.wedding-details .left { float: left; display: block; float: left; margin-right: 2.35765%; width: 48.82117%; margin-left: 5.97086%; }
#content.wedding-details .left:last-child { margin-right: 0; }
#content.wedding-details .left .wed-details { margin-top: .06em; display: block; float: left; margin-right: 3.57866%; width: 61.158%; margin-left: 6.47367%; margin-right: 0; }
#content.wedding-details .left .wed-details:last-child { margin-right: 0; }
#content.wedding-details .left .wed-details h3 { font-size: 1.2em; }
#content.wedding-details .left .wed-details.second { margin-top: 2em; border-top: 1px dotted #838697; padding-top: 40px; }
#content.wedding-details .left .wed-details.another { margin-top: 2em; border-top: 1px dotted #838697; padding-top: 30px; }
@media (max-width: 750px) { #content.wedding-details .left .wed-details.another { padding-top: 30px !important; } }
#content.wedding-details .left .wed-title { display: block; float: left; margin-right: 3.57866%; width: 28.78967%; height: 200px; }
#content.wedding-details .left .wed-title:last-child { margin-right: 0; }
#content.wedding-details .left .wed-title h2 { font-size: 1.2em; line-height: 1em; text-transform: uppercase; }
#content.wedding-details .left .wed-title.long { height: 1000px; }
#content.wedding-details .left .wed-title.first { height: 400px; }
@media (max-width: 750px) { #content.wedding-details .left.desc { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .left.desc .wed-details { width: 50%; float: left; padding: 0; margin: 0; }
  #content.wedding-details .left.desc .wed-details.second { border: 0; }
  #content.wedding-details .left.desc .wed-title { width: 95%; margin-left: 2.5%; height: 40px; } }
#content.wedding-details #map.right { float: left; display: block; float: left; margin-right: 2.35765%; width: 36.02647%; margin-left: 1.70596%; height: 395px; margin-top: 10px; }
#content.wedding-details #map.right:last-child { margin-right: 0; }
@media (max-width: 750px) { #content.wedding-details #map.right { width: 95%; margin-left: 2.5%; } }
#content.wedding-details h2 { font-size: 1.7em; font-family: "Century Gothic W01 Bold"; line-height: 1.9em; text-align: center; }
#content.wedding-details p { font-size: 1em; line-height: 1.7em; margin-top: 0.6em; }
#content.wedding-details .left.wedding-party { margin-top: 20px; }
@media (max-width: 750px) { #content.wedding-details .left.wedding-party { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .left.wedding-party .wed-title { width: 100%; height: 40px; }
  #content.wedding-details .left.wedding-party .wed-details { width: 95%; margin-left: 2.5%; } }
#content.wedding-details .right.wedding-party { display: block; float: left; margin-right: 3.57866%; width: 28.78967%; margin-top: 20px; margin-bottom: 30px; }
#content.wedding-details .right.wedding-party:last-child { margin-right: 0; }
#content.wedding-details .right.wedding-party h3 { margin-top: .06em; font-size: 1.2em; }
#content.wedding-details .right.wedding-party .again { margin-top: 20px; }
#content.wedding-details .right.wedding-party.brushers-right { margin-top: 40px; }
@media (max-width: 750px) { #content.wedding-details .right.wedding-party.brushers-right { margin-top: 10px; } }
@media (max-width: 750px) { #content.wedding-details .right.wedding-party { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .right.wedding-party .wed-title { width: 95%; margin-left: 2.5%; height: 20px; }
  #content.wedding-details .right.wedding-party p { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .right.wedding-party.brushers-right { margin-top: 0px; } }
#content.wedding-details .clear { clear: both; }
#content.wedding-details .name { font-family: "NewClarendonMTW01-Bold"; }
#content.wedding-details .historic { display: block; float: left; margin-right: 3.57866%; width: 28.78967%; margin-top: 20px; }
#content.wedding-details .historic:last-child { margin-right: 0; }
#content.wedding-details .historic h3 { margin-top: .06em; font-size: 1.2em; }
#content.wedding-details .historic .inset-details { display: block; float: left; margin-right: 3.57866%; width: 100%; margin-top: 1em; }
#content.wedding-details .historic .inset-details:last-child { margin-right: 0; }
#content.wedding-details .historic .inset-details h3 { margin-top: 1em; }
@media (max-width: 750px) { #content.wedding-details .historic { width: 95%; margin-left: 2.5%; margin-top: 40px; }
  #content.wedding-details .historic .inset-details, #content.wedding-details .historic .wed-title, #content.wedding-details .historic .desc { width: 95%; margin-left: 2.5%; } }
@media (max-width: 750px) { #content.wedding-details .travel-info { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .travel-info .wed-details { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .travel-info .wed-title { height: 40px; width: 95%; margin-left: 2.5%; }
  #content.wedding-details .travel-info .wed-title.long { height: 40px; } }
#content.wedding-details .eateries { width: 100%; margin-top: 2em; }
#content.wedding-details .eateries p.intro { margin-bottom: 2em; font-size: 1.1em; border-bottom: 1px dotted #838697; padding-bottom: 1em; margin-top: -0.2em; display: block; float: left; margin-right: 3.57866%; width: 67.63167%; line-height: 1.6em; }
#content.wedding-details .eateries p.intro:last-child { margin-right: 0; }
#content.wedding-details .eateries .eat-title { height: 700px; width: 15.1867%; }
#content.wedding-details .eateries .wed-details { display: block; float: left; margin-right: 3.57866%; width: 100%; }
#content.wedding-details .eateries .wed-details:last-child { margin-right: 0; }
#content.wedding-details .eateries .wed-details.another { padding-top: 30px; margin-top: 1em; }
#content.wedding-details .eateries .hold-left { display: block; float: left; margin-right: 3.57866%; width: 28.78967%; }
#content.wedding-details .eateries .hold-left:last-child { margin-right: 0; }
#content.wedding-details .eateries .hold-left .wed-details { margin-left: 0; }
#content.wedding-details .eateries .hold-right { display: block; float: left; margin-right: 3.57866%; width: 28.78967%; margin-left: 3.23683%; }
#content.wedding-details .eateries .hold-right:last-child { margin-right: 0; }
@media (max-width: 750px) { #content.wedding-details .eateries { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .eateries p.intro { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .eateries .hold-left { width: 48%; margin-left: 2%; margin-right: 0; }
  #content.wedding-details .eateries .hold-left .wed-details { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .eateries .hold-right { width: 48%; margin-left: 2%; }
  #content.wedding-details .eateries .hold-right .wed-details { width: 95%; margin-left: 2.5%; }
  #content.wedding-details .eateries .wed-title { height: 40px; width: 95%; margin-left: 2.5%; }
  #content.wedding-details .eateries .wed-title.long { height: 40px; } }
#content.wedding-registries .intro { display: block; float: left; margin-right: 3.57866%; width: 87.05267%; margin-left: 6.47367%; text-align: center; }
#content.wedding-registries .intro:last-child { margin-right: 0; }
#content.wedding-registries #list { display: block; float: left; margin-right: 3.57866%; width: 87.05267%; margin-left: 3.23683%; margin-top: 2em; margin-bottom: 2em; }
#content.wedding-registries #list:last-child { margin-right: 0; }
#content.wedding-registries #list li { display: block; float: left; margin-right: 2.35765%; width: 23.23176%; }
#content.wedding-registries #list li:last-child { margin-right: 0; }
#content.wedding-registries #list li:nth-child(4n) { margin-right: 0; }
#content.wedding-registries #list li:nth-child(4n+1) { clear: left; }
#content.wedding-registries #list li a img { width: 100%; }
#content.wedding-registries #list li a:hover img { opacity: 0.7; }
#content.rsvp #form { display: block; float: left; margin-right: 2.35765%; width: 65.88078%; margin-left: 17.05961%; }
#content.rsvp #form:last-child { margin-right: 0; }
#content.rsvp #form label[for="song"] { text-align: center; }
#content.rsvp #form .item .form-entry { width: 80%; margin: 0 auto; text-align: center; }
#content.rsvp #form .item .form-entry input[type="text"], #content.rsvp #form .item .form-entry textarea { width: 100%; font-family: "New Clarendon MT W01"; margin: 10px auto; color: #838697; box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3); width: 90%; padding: 10px 20px; font-size: 1em; transition: all 0.5s ease-in-out; -webkit-transition: all 0.3s ease-in-out; border-radius: 10px; }
#content.rsvp #form .item .form-entry input[type="text"]:focus, #content.rsvp #form .item .form-entry textarea:focus { background: #f2f2f4; border-radius: 10px; border: 0; outline: none; color: #333333; }
#content.rsvp #form .item .form-entry input[type="number"] { margin: 10px auto; padding: 10px 20px; font-size: 1em; }
#content.rsvp #form .item .form-entry .title { font-family: "Century Gothic W01 Bold"; text-align: left; margin-left: 5%; }
#content.rsvp #form .item.number { margin: 2em 0; }
#content.rsvp #form .item.number .form-entry { width: 40%; margin: 0 auto; text-align: center; }
#content.rsvp #form .item.number .form-entry .title { text-align: center; margin-bottom: .5em; font-size: 1.2em; }
#content.rsvp #form .item.number input[type="text"] { width: 30%; margin: 0 auto; text-align: center; }
#content.rsvp #form .item.radio .title { text-align: center; margin-bottom: .5em; font-size: 1.2em; }
#content.rsvp #form .submit-wrapper { width: 100%; margin-top: 1.5em; padding-bottom: 150px; }
#content.rsvp #form .submit-wrapper .navigate { background-color: #838697; display: block; float: left; margin-right: 2.35765%; width: 65.88078%; width: 44%; margin-left: 28%; padding: 1px 3px; }
#content.rsvp #form .submit-wrapper .navigate:last-child { margin-right: 0; }
#content.rsvp #form .submit-wrapper .navigate #submit { width: 100%; background-color: #838697; border: 6px solid #fff; padding: 10px 20px; font-size: 1.2em; font-family: "New Clarendon MT W01"; color: #fff; }
#content.rsvp #form .form-error { width: 60%; margin-left: 20%; color: red; margin-bottom: 20px; }
#content.rsvp #success { display: none; width: 60%; margin-left: 20%; text-align: center; }
