---
layout: default
title: 'Landon & Laura'
topimage: 'images/home_top.jpg'
---


<div id="home">
	<div id="content" class="home">
	<p>Dear family and friends, <br>
		We have decided to postpone our wedding. The past 6 months have been very busy and at times stressful with the move to California, new jobs for us both, and Landon's seminary classes. We've realized we need some more time to spend together and invest in our relationship without the added pressure of an April wedding. It was a very difficult decision to make, but with much conversation and prayer, we both feel that it is the right decision for us. <br> <br>
		Thank you all for your love and support. <br>
		Landon and Laura </p>

	<!-- <div class="countdown"></div> -->






		{% include slides.html %}
		<script>
		//	var theDate = new Date(2014, 3, 19, 18, 00);
		//	console.log(theDate);
		//	$('.countdown').countdown({until: theDate, format: 'dHMS'});
		</script>

</div>