---
layout: default
title: Wedding Registries
topimage: '../images/registries.jpg'
---
<div id="content" class="wedding-registries">
	<h2>Wedding Details</h2>

		<div id="registries">
		<p class="intro">
			Since the couple will be flying back to California following the wedding, please consider purchasing gifts online and having them shipped. Gift cards are also appreciated. 
		</p>
		<ul id="list">
			<li class="registry">
				<a href="http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=eeIEs4q3yM8XTHM_apuZWQ&registryType=WD&cumulativeTime=-1&isAjax=false&noOfPings=" >
					<img src="../images/registries/target_logo.jpg" alt="">
				</a>
			</li>
			<li class="registry">
				<a href="http://www.crateandbarrel.com/Gift-Registry/Laura-Cox-and-Landon-White/r5098823">
					<img src="../images/registries/crate.jpg" alt="">
				</a>
			</li>
			<li class="registry">
				<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13686066&pwsurl=">
					<img src="../images/registries/bed-bath-logo.jpg" alt="">
				</a>
			</li>
			<li class="registry">
				<a href="http://www1.macys.com/registry/wedding/guest/?registryId=2128380">
					<img src="../images/registries/macys-logo.jpg" alt="">
				</a>
			</li>
		</ul>

		</div>
		
	</div>









