---
layout: default
title: RSVP
topimage: '../images/rsvp.jpg'
---


<div id="content" class="rsvp">
	<form  id="form">
			
			<div dir="ltr" class="item radio">
				<div class="form-entry">
					<label class="item-label" for="entry_759086049">
					<div class="title">Will you be joining us?</div>
					

						<ul class="choices">
						<li class="choice-item">
							<label>
								<span class="choice-item-control">
									<input type="radio" name="attending_yes" value="I will be attending." id="group_105682394_1" class="radio required" aria-label="I will be attending." >
								</span>
								<span class="choice-label">I will be attending.</span>
							</label>
						</li> 
						<li class="choice-item">
							<label>
								<span class="choice-item-control">
									<input type="radio" name="attending_no" value="I will not be attending. Sorry." id="group_105682394_2" class="radio" aria-label="I will not be attending. Sorry." >
								</span>
								<span class="choice-label">Sorry, I will not be attending.</span>
							</label>
						</li>
						</ul>
					
					</div>
				</div>
			

			
				<div dir="ltr" class="item text number">
					<div class="form-entry">
					<label class="item-label" for="entry_1845636096">
						<div class="title">Number of your party?</div>
					</label>
					<input type="text" name="numberGuests" value="" class="short valid" id="entry_1845636096" dir="auto" step="any" data-validation="number" data-suggestions="1-5">
					

					</div>
				</div>
			
			

			
				<div dir="ltr" class="item  text">
					<div class="form-entry">
					<label for="song">Got a song that reminds you of us?<br>List it here!<br><span style="font-size:.6em;">(List artist and song title)</span></label>
						<input type="text" name="song_1" value="The Civil Wars - Forget Me Not" initial-value="The Civil Wars - Forget Me Not" class="short valid clear-input" id="entry_4580497">
					</div>
				</div>
			 

			
				
			 

			
				<div dir="ltr" class="item  paragraph-text">
					<div class="form-entry">
						<label class="item-label" for="entry_981460871">
							<div class="title">Additional Notes</div>
						</label>
						<textarea name="message" rows="8" cols="0" class="long" id="entry_981460871" dir="auto"></textarea>
					</div>
				</div>
			

			
				<div dir="ltr" class="item  text">
					<div class="form-entry">
						<label class="item-label" for="entry_301279535">
							<div class="title">Name</div>
						</label>
						<input type="text" name="name" value="" class="short" id="entry_301279535" data-validation="required" >
					</div>
				</div>
			


			
				<div dir="ltr" class="item  text">
					<div class="form-entry">
						<label class="item-label" for="entry_405641733">
							<div class="title">Email</div>
						</label>
						<input type="text" name="email" value="" class="short" id="entry_405641733" data-validation="required" data-validation="email">
					</div>
				</div>
			 


			
				<div dir="ltr" class="item  text">
					<div class="form-entry">
						<label class="item-label" for="entry_1206263867">
							<div class="title">Phone</div>
						</label>
						<input type="text" name="phone" value="" class="short" id="entry_1206263867" data-validation="custom" data-validation-regexp="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}$"  data-suggestions="800.890.7058">
					</div>
				</div>
			

	<input type="hidden" name="draftResponse" value="[]">
	<input type="hidden" name="pageHistory" value="0">

	<div class="submit-wrapper">
		<div class="item navigate">
			<input type="submit" name="submit" value="Submit" id="submit">
		</div>
	</div>

</form>

<div id="success"><p>Thank you for your response! We are so happy to share our special day with you!</p></div>




</div>