---
layout: default
title: Travel Info
topimage: '../images/travel.jpg'
---
<div id="content" class="wedding-details">
	<h2>Wedding Details</h2>

		<div class="left travel-info ">
		<div class="wed-title"><h2>Travel Info</h2></div>
			<div class="wed-details">
			<h3>Hot Springs</h3>
			<p>Hot Springs is most easily reached by flying into Little Rock National Airport (LIT). It is less than a one-hour drive from the airport to Hot Springs. </p>
			</div>
			
		</div>

		<div class="left travel-info">
			<div class="wed-title long"><h2>Things to Do</h2></div>
			<div class="wed-details">
				<h3>Garvan Woodland Gardens</h3>
				<p>Garvan Gardens, a 210-acre botanical garden, is located on beautiful Lake Hamilton. In 2012, it was named one of the Top Five Most Spectacular Gardens in America. It includes five miles of trails, unique bridges, waterfalls, and brilliant blooms year round. Come visit the gardens before the wedding Saturday and receive free admission. Open daily 9 a.m. to 6 p.m. General admission: $10 for adults and $5 for children over 5</p>
			</div>
			<div class="wed-details another">
				<h3>Lake Hamilton</h3>
				<p>Waterski, boat, or fish on this 7,450-acre lake. </p>
			</div>

			<div class="wed-details another">
				<h3>Lake Ouachita</h3>
				<p>The largest lake in Arkansas at 40,100 acres, this lake boasts beautiful scenery and clear waters. Surrounded by Ouachita National Forrest, the lake has pristine shorelines and uninhabited islands for swimming, fishing, or camping. </p>
			</div>

			<div class="wed-details another">
				<h3>Hike the mountain</h3>
				<p>The top of Hot Springs Mountain holds Mountain Tower, which offers a 140-mile view in all directions on a clear day. Several hiking trails begin along the promenade. You can also hike West Mountain, located across from Hot Springs Mountain. You can drive to the top of these mountains if you’re not up for a hike. </p>
			</div>
			
		</div>

		<div class="right historic">
			<div class="wed-title"><h3>Historic Downtown Hot Springs </h3></div>
			<p class="desc">Hot Springs is best known for the natural hot springs from which it gets its name. In the early 1900s, the spa town was a playground for the rich and famous in an era of opulence and a popular hangout for gangsters. Explore the small downtown, take a soothing bath in a historic bathhouse, or hike the mountain. Highlights include the following:</p>

			<div class="inset-details">
				<h3>Fordyce Bathhouse</h3>
				<p>Part of bathhouse row, Fordyce houses the Hot Springs Visitors Center. You can learn more about the history of the bathhouses, as well as Hot Springs, in the small museum located within.</p>

				<h3>Quapaw Bathhouse and Buckstaff Bathhouse</h3>
				<p>The only operational bathhouses, here you can relax with a soothing bath or massage. Enjoy the thermal waters in Quapaw’s pools for $18. </p>

				<h3>The Grand Promenade</h3>
				<p>Stroll this half-mile brick promenade for views of downtown and discover the springs bubbling to the surface as they have been for thousands of years. </p>

				
			</div>
		</div>

		<div class="left desc eateries">
			<div class="wed-title eat-title"><h2>Food</h2>
				</div>
			<p class="intro">If you are from Germany, you must try Southern food while in Hot Springs. The following are some of the best eats:</p>
			<div class="hold-left">
				<div class="wed-details eats">
					<h3 class="first">McClard’s BBQ</h3>
					<p>Considered one of the best BBQ places in the US, McClard’s is a big deal. Try the tamales. </p>
				</div>
				<div class="wed-details another">
					<h3>The Pancake Shop</h3>
					<p>Serving up pancakes since 1940, this is a great place for breakfast or brunch. I recommend the buckwheat pancakes. </p>
				</div>

				<div class="wed-details another">
					<h3>Cracker Barrel Old Country Store</h3>
					<p>Although a chain restaurant, Cracker Barrel offers all the essential country cookins, including chicken fried steak, mashed potatoes, fried okra, and biscuits and gravy. </p>
				</div>
			</div>
			
			<div class="hold-right">
				<div class="wed-details">
					<h3>Rolando’s</h3>
					<p>This is not Southern food, but it is delicious. Offering Ecuadorian cuisine, Rolando’s is a personal favorite. Ask to sit on the balcony outside and enjoy live music on the weekends. (Wedding Trivia: Landon and Laura had their first “date” here.)</p>
				</div>

				<div class="wed-details another">
					<h3>Steinhaus Keller</h3>
					<p>If you’re not from Germany, try German food at the Steinhaus Keller. The quality is nowhere near actual German food, but the atmosphere is fun.</p>
				</div>

			</div>
			
			
		</div>

	</div>