---
layout: default
title: How We Met
topimage: '../images/our-story.jpg'
---


<div id="content">
	<h2>How We Met</h2>
	<div class="our-story left desc">
	<h2>Laura</h2>
		<p>Landon had Laura at hello, and it only took a mere five years for him to make his move. The two met on Valentine’s Day in 2006, which perfectly sums up the romance that characterized that fateful day (except for the unfortunate fact that there was none).</p>
		<p>After their initial introduction, the two had essentially no interaction until many months later when they met again in a fairytale land far far away. It was the fall of 2007 when the youngsters set off on a semester of adventure living in Salzburg, Austria, and it was there that their friendship blossomed. Although neither showed any sign of interest, they grew to admire and respect one another and got to know each other in a way that only traveling together can afford. </p>
		<p>Following their (un)romantic tryst abroad, the two experienced a brief year-and-a-half period of silence. Reconnecting in 2009, Landon and Laura enjoyed a year of friendship before Landon moved across the world to Germany. Landon recalls their “dates” during that time while Laura can’t seem to remember them ever being categorized in quite that way. </p>
		<p>After his moving to Germany, Landon and Laura lost touch for a short while until Landon returned home one cold February day and declared his undying love. Now was the opportune moment, and something as minute and insignificant as 4,935 miles was only a small hurdle for these two. Never ones to rush into anything, they spent the next months sharing weekly skype dates and reestablishing their friendship. </p>
		<p>They reunited in Germany the following summer and shared two wonderful months visiting each other in Stuttgart and Freiburg. Undaunted by the fact that they would spend the next year an ocean apart, the two decided to try the long distance dating thing. After a year of skype conversations and emails, Laura moved to Germany to “teach English,” which could arguably be referred to as “be near Landon.” A year in Germany led to a Salzburg proposal story.</p>
	</div>
	<div class="our-story right desc">
	<h2>Landon</h2>
		<p>Landon first met Laura on Valentine’s Day.  This was not love at first sight.  He and his roommate were invited as the only males at a Valentine’s Day group date amongst a dozen or so freshmen girls.   She was one among many in a sea of faces and names…but not for long.   </p>

		<p>A year later, Landon’s suitemate persuaded him to sign up for a semester abroad—a semester that would change the course of his life.  An acquaintance inquired about the trip “Isn’t Laura Cox going on that trip?  You should try to make that happen.”  Landon began to take what could have been fleeting advice seriously, as the name and face that he barely knew emerged from obscurity.  In their time in the fairytale city of Salzburg, Landon became increasingly intrigued at this reserved, mystery of a girl.  Sadly, his unrefined flirtation skills made for futile attempts in expressing his newfound affection for Laura.  After many adventures together in foreign lands, they each returned home with a blossoming friendship and many memories, but no hand to hold.  
		</p>
		<p>Over the following months, Landon would give way to friends who were also interested in Laura out of respect for some sort of “bro-code,” giving “dibs” to whoever expressed their infatuation before he did.  While they maintained an acquaintanceship, he started to look for love in other places, thinking she would certainly be interested in someone other than him.  But after a year or so of looking in all the wrong places, Landon found himself in Hot Springs, Arkansas, sitting across the table from the girl he once thought out of reach.  With somewhat refined charm, he pursued her once again, being continually rewarded as she agreed to more and more “not-dates”.  But just as he was ready to move on to actual dates with the girl of his dreams, he got offered a dream job in a dream location.  Oblivious to her exalted position in dreamland, Laura encouraged Landon to take this once-in-a-lifetime opportunity.  So with a guitar in one hand and suitcase in the other, he once again boarded a plane with no hand to hold.
		</p>
		<p>Dismissive of his chances of being with Laura, Landon was shocked to find out that she would be coming to Germany the following summer.  With renewed hope (and perhaps some impatience), he boarded a plane home to Arkansas in order to (amongst other things) reveal his true feelings. Laura responded with an initial “not now,” which only locked Landon’s sights on “later.”  In preparation for a summer of wooing, Landon happily agreed to Laura’s proposed “friendship building” skype dates.  Although they had come a long way since that first meeting on Valentines Day, Laura’s face on a screen was not enough for Landon, and he saw to it that the summer ended with them face to face and hand in hand.</p>
	</div>
	<div class="our-story image"><img src="../images/howmet2.jpg"></div>
</div>