---
navigation:
 - text: The Couple
   url: /
 - text: How We Met
   url: /how-we-met/
 - text: A Salzburg Proposal
   url: /salzburg-proposal/
 - text: Wedding Details
   url: /wedding-details/
 - text: Wedding Registries
   url: /
 - text: RSVP
   url: /rsvp/
---

<ul class='nav'>
{% for link in page.navigation %}

<li {% if url == link.url %}class="active"{% endif %}>
    <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
</li>
{% endfor %}
</ul>




<!-- 	<li><a href="/">The Couple</a></li>
	<li><a href="/how-we-met">How We Met</a></li>
	<li><a href="/salzburg-proposal">A Salzburg Proposal</a></li>
	<li><a href="/wedding-details">Wedding Details</a></li>
	<li><a href="/">Wedding Registries</a></li>
	<li><a href="/rsvp">RSVP</a></li> -->

