<div id="slides">
    <img src="../images/gallery/0011.jpg">
    <img src="../images/gallery/0025.jpg">
    <img src="../images/gallery/0031.jpg">
    <img src="../images/gallery/0033.jpg">
    <img src="../images/gallery/0034.jpg">
    <img src="../images/gallery/0037.jpg">
    <img src="../images/gallery/0047.jpg">
    <img src="../images/gallery/0069.jpg">
    <img src="../images/gallery/0083.jpg">
    <img src="../images/gallery/0087.jpg">
    <img src="../images/gallery/0108.jpg">
    <img src="../images/gallery/0116.jpg">
    <img src="../images/gallery/0118.jpg">
    <img src="../images/gallery/0126.jpg">
    <img src="../images/gallery/0133.jpg">
   
    <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
    <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>

  </div>
