---
layout: default
title: Wedding Details
topimage: '../images/wedding.jpg'
---


<div id="content" class="wedding-details">
	
	<div class="left desc ">
	<div class="wed-title first"><h2>Where/When</h2></div>
		<div class="wed-details">
		<h3>The Ceremony</h3>
		<p>The wedding ceremony will begin at 6:00pm in the Anthony Chapel at Garvan Woodland Gardens. The address for Anthony Chapel is 550 Arkridge Road Hot Springs, AR 71913.</p>
		</div>

		<div class="wed-details second">
		<h3>The Reception</h3>
		<p>The wedding reception will begin immediately following the ceremony at The Culinary District's Hamp Willliams Building. The address for the Hamp Williams Building is 510 Ouachita Ave. Hot Springs, AR 71901</p>
		</div>
		
	</div>
	<div id="map" class="right">
	</div>
	<div class="left wedding-party">
		<div class="wed-title"><h2>Wedding Party</h2></div>
		<div class="wed-details">
		<h3>Bridesmaids</h3>
		<p><span class="name">Rebecca Cox (maid of honor):</span> After a rocky start that consisted of the first 12 years of Rebecca’s life, Rebecca and Laura have been the best of friends. Often mistaken for each other, the two share more than just genetics and facial expressions; their mutual love of food, family, and the red chair will last a lifetime. Laura cannot imagine a better sister.</p>
		<p><span class="name">Meg Little:</span> Ever since the third grade when Meg’s mom told her that she had to be friends with Laura, these two have been besties. From sitting together Sunday mornings at church to living together in Fayetteville after college, Meg and Laura have shared a lifetime of memories. Meg’s honesty, creativity, and fun-loving personality make her one of Laura’s oldest and best friends.</p>
		<p><span class="name">Becca Owens:</span> Randomly paired together as freshman roommates, Becca and Laura weren’t sure where their friendship would lead. It has taken them through four years of living together in college, trips to Turkey and Israel, and many significant conversations about the best and hardest things in life. Becca’s depth of knowledge and spiritual maturity were very influential on Laura in college, and she is still one of the first people Laura turns to for advice.</p>
		<p><span class="name">Kiley Burnett:</span> Kiley and Laura initially bonded during a summer living in Kosovo, where they shared countless adventures, conversations, struggles, and a very small bed. Since that first summer, the two travel buddies have been all over the world together, from Eastern Europe to the Dominican Republic to California. Kiley keeps Laura laughing, and the two are sure to have a good time when they are together. They share many commonalities, making Kiley the friend Laura relates to most. 
		</p>
		
		</div>

		
	</div>

	<div class="right wedding-party">
		<div class="wed-title"><h3>Groomsmen</h3></div>
		<p><span class="name">Cameron Magby (best man):</span> Cameron and Landon shared 11 years on the same street and 4 years on the same college campus in a friendship full of many other numbers that could make up their own rendition of the “12 Days of Christmas.”  Beyond the many hours of basketball, video games, and jam sessions, Cameron has long been Landon’s most trusted sounding board for relationships, ministry, and life.</p>
		<p><span class="name">Jarrett Byrum (best man):</span> Landon and Jarrett first bonded in high school during hours spent cruising in Landon’s singing Weezer songs at the top of their lungs. With a shared love of hoodies and Chuck Taylors, Jarrett and Landon were often caught wearing the same outfit. In addition to looking like brothers (as they’ve been told), the two share a similar sense of humor, to the point that they can laugh at the same thing without saying a word. Landon highly values Jarrett’s uncanny ability to empathize, counsel, and speak truth into his life. </p>
		<p><span class="name">Alex Hargis:</span> Landon first became acquainted with Alex at college when Landon gave some ironic sage advice about diligence in schoolwork to a table full of underclassmen. Despite Landon’s poor example in the matter, Alex still came to him for counsel and became one of Landon’s closest friends. The student soon became the master as Alex’s immense knowledge on everything from coffee and cooking to distillation and theology left Landon taking notes during many of their conversations. A close friend of both, Alex is arguably the #1 proponent of the Laura/Landon union.</p>
		<p><span class="name">Jeff Johnson:</span> Jeff first approached Landon to befriend him on Facebook (tis the age) before he moved to Germany. Landon considers this a hallmark of their friendship as Jeff would be “the first” to approach or challenge him on a countless number of issues. The two share many similarities, including a love of travel, a passion for French pastries, and a likeminded approach to ministry. Although Jeff has always treated Landon as a peer, Landon considers him a great mentor.</p>

		
		
	</div>

	<div class="clear"></div>

	<div class="left wedding-party">
		<div class="wed-title"></div>
		<div class="wed-details">
		<h3>"Brushers" (Brothers/Ushers)</h3>
		<p><span class="name">Whit Cox:</span> Among the list of Whit’s many accomplishments, he has in fact mastered the art of provoking his sisters. In addition to this unique forte, Whit brings an essential, offbeat element of humor to the Cox family. Whit enjoys trying new things and is not afraid to do things his own way. As the older brother, he forged a path that certainly influenced Laura’s own route in life, and for this—and him—she is grateful. </p>
		</div>
	</div>

	<div class="right wedding-party brushers-right">
		<p><span class="name">Leighton White:</span> The trailblazer of the “White boys,” Leighton set high standards for Landon in everything from little league to quiz bowl.  Always wanting to be like his big brother, Landon picked up everything Leighton had his hands on: including his first guitar. Long after the “Leighton’s-little-brother” years, Landon remains eternally grateful for the many life lessons he’s learned from Leighton and admires his authenticity and resiliency to this day.</p>
		<p><span class="name">Lindley White:</span> Lindley and Landon have often been told they have the same look, mannerisms, laugh, and accent—facts they both find detestable due to years of brotherly hostility. In reality, Lindley has always done his own thing, a fact that Landon respects and admires immensely. Landon also admires Lindley’s entrepreneurial ambition and hard work, which can be seen in the creation of this very site.  </p>
	</div>

</div>

<script type="text/javascript">
			$(document).ready(function(){
			      map = new GMaps({
			              div: '#map',
			              lat: 34.480838,
			              lng: -93.057160, 
			              zoom: 12,
			              zoomControl : false,
			              scrollwheel : false,
			              streetViewControl: false

			            });
			      		
			      		map.addMarker({
			      		        lat: 34.434135,
			      		        lng: -93.045722,
			      		        title: 'The Ceremony',
			      		        details: {
			      		          database_id: 42,
			      		          author: 'HPNeo'
			      		        },
			      		        icon: '../images/wedding-icon.png',
			      		        infoWindow: {
			      		          content: '<p>The Ceremony</p>'
			      		        }
			      		      });
		      		      map.addMarker({
		      		        lat: 34.505300,
		      		        lng: -93.059253,
		      		        title: 'The Reception',
		      		        infoWindow: {
		      		          content: '<p>The Reception</p>'
		      		        },
		      		        icon: '../images/reception.png'
		      		      });

			           
			    });

				

		</script>