---
navigation:
 - text: The Couple
   url: /
 - text: How We Met
   url: /how-we-met/
 - text: The Proposal
   url: /salzburg-proposal/
 #- text: Wedding 
   #url: /wedding-details/
 #- text: Registries
   #url: /registries/
 #- text: RSVP
   #url: /rsvp/
 #- text: Travel
   #url: /travel/
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="http://fast.fonts.net/jsapi/c614842e-25ed-49a3-96c2-6c80e79fe6a7.js"></script>
        <script type="text/javascript" src="../js/jquery.countdown.js"></script>
        <script type="text/javascript" src="../js/gmaps.js"></script>
    </head>
    <body>

    <section id="image_holder">
      <img src="{{ page.topimage }}">
    </section>

        <div class="container">
          <div class="site">
          <header>
            <div class="header-inner">
              <ul class='nav'>
              {% assign url = page.url %}
              {% for link in page.navigation %}

              <li {% if url == link.url %}class="active"{% endif %}>
                  <a href="{{link.url}}" >{{link.text}}</a>
              </li>
              {% endfor %}
              </ul>
            </div>
          </header>

                {{ content }}

            <div class="footer">
              {% include footer.html %}
            </div>
          </div>
        </div> <!-- /container -->

          {% include scripts.html %}

    </body>
</html>
