---
layout: default
title: How We Met
topimage: '../images/proposal.jpg'
---


<div id="content" class="proposal">
	<h1>A Salzburg Proposal</h1>

	<p>Although she knew it would make for the perfect proposal story, Laura didn’t think the day held a ring for her as she and Landon traveled to Salzburg. She had planned the trip several weeks before, but the day didn’t start out as either of them had hoped. Due to severe flooding in central Austria, their train to Salzburg had been canceled. Instead of a quick 2-hour train ride to Salzburg, they found themselves on a 4-hour train-bus-train journey, leaving them with only a few hours in the city. Laura wasn’t sure it was worth the journey, but Landon was surprisingly adamant. </p>
	<p>They arrived in Salzburg and began reliving their time there all those years ago. They visited the school, the gardens, the downtown, then decided to take a hike up the mountain overlooking the picture-perfect city with its fairytale castle. The hike was only a short half-hour journey and promised rewarding views over several lookout points. It was 3 hours, and there were in fact no lookout points. Laura tried to persuade Landon to stop for their picnic lunch; it was nearly 3:00 after all, and they had breakfasted at 6:00. Landon, however, was determined to find the perfect picnic spot, and they made it all the way to the top of that mountain. Only to find a group of surveyors spread out atop its peak. Never one to be deterred, Landon led Laura back down the mountain to a small lookout they had passed on their journey upwards. </p>
	<p>They enjoyed a wonderful picnic, reminiscing about their past and dreaming of their future. Landon knew the moment had come. It was time to ask the most important question of their relationship. At just that instant, Laura saw movement out of the corner of her eye. It was a man, drenched in sweat and breathing loudly, who had joined them in their secluded picnic spot to partake in his afternoon tai chi. Laura held back laughter while Landon held back his frustration. Surely, this would not last long. Unfortunately, the man was of prime athletic ability, and nothing short of 30 minutes would do. As Landon’s cellphone showed the time to be inching closer and closer to their necessary departure on the last train, he pondered how to get rid of this sweaty pest. Luckily, his scheming was unnecessary, and the man went on his way. </p> 
	<p>Trying to bring back “the mood” so carefully crafted before, Landon suggested they stand up and walk a bit. As they stood to go, he hugged Laura and began a beautiful speech on their past, present, and future. As he prepared to pop the question, yet another man jogged up behind them. Thwarted yet again, Landon continued his speech until the man passed. Laura could feel his heart pounding, and she knew what was coming. He then got down on one knee and asked Laura to marry him. </p>
	<p>He had prepared for this moment by asking Laura to pull a small gift out of a red bag each day she had been away from him the past two weeks while traveling with family. He now pulled the red bag out and performed what he later claimed to be a magic trick. Oblivious to the magic taking place before her eyes, Laura saw only the ring. She of course said yes, and they celebrated their last few moments together in Salzburg as a couple engaged to be married before literally running to catch their train home. Laura believes it to be the perfect proposal story. </p>




</div>